body {
    margin:0;
}

.controls {
    padding:10px;
    border-bottom:1px solid black;
}

.controls p {
    margin:0;
}

.controls label {
    display:inline-block;
    width : 6em;
}

.delete {
    margin-left:0.5em;
    width:1em;
    height:1em;
}

#txtCost {
    width:6em;
}

#txtDescription {
    width:15em;
}

.costs {
    padding:10px;
}

#txtPersonCount {
    width:3em;
}


